<!DOCTYPE html>
<html>
<head>
  <title>GillianLloyd</title>
  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
  <link href='http://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no"> 
</head>
<body data-spy="scroll" data-target=".nav-container" data-offset="100"}>

<div class="container-fluid">
	<%= yield %>
</div>

</body>
</html>
